@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

body {
  background-color: #050507;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

/* UTITILTY */
.green {
  color: #079211;
}

.btn_no_bg {
  border: 1px solid #079211;
  padding: 13px 20px;
  background-color: transparent;
  color: white;
  transition: 0.2s all ease-in-out;
}

.btn_no_bg_ {
  padding: 0px 20px 13px 0px;
  background-color: transparent;
  color: #079211;
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}

.btn_download {
  color: #808080;
  padding: 13px 20px;
  background-color: transparent;
}

.btn_bg {
  border: none;
  outline: none;
  padding: 13px 20px;
  background-color: #079211;
  color: white;
  transition: 0.2s all ease-in-out;
}

.btn_no_bg:hover {
  background-color: #079211;
}

.dflex_btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.dflex_str {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.container_pd {
  padding: 0 6rem;
}

/* UTITILTY */

nav {
  padding: 30px 6rem;
}

nav .logo {
  font-size: 28px;
  font-weight: bold;
}

.Hero_section {
  margin-top: 8rem;
  height: max-content;
  padding: 0 6rem;
}

.Hero_section h2 {
  font-size: 38px;
  line-height: 0;
}

.Hero_section h1 {
  font-size: 88px;
  line-height: 0;
}

.Hero_section p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #808080;
  width: 45%;
  line-height: 1.7;
}

.Services_section {
  height: max-content;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.Services_section p {
  color: #808080;
}

.Services_heading {
  font-size: 46px;
  font-weight: bold;
}

.Services_line {
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.Services_line .line {
  height: 3px;
  width: 50px;
  background-color: #079211;
}

.col {
  flex-direction: column;
  align-items: start;
  gap: 0;
  width: 360px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background-color: #079211;
}

.Services_boxes {
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.services_box {
  background-color: #313131;
  border-bottom: 3px solid #079211;
  padding: 45px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.services_box:hover {
  box-shadow: 0px 0px 10px 0px #cccccc71;
}

.services_box .icons {
  position: relative;
  width: max-content;
}

.box_icon {
  z-index: 10;
}

.services_box .circle {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 0;
}

.Blog_page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  gap: 1rem;
}

.Blog_news_card {
  background-color: rgba(128, 128, 128, 0.249);
  height: 400px;
}

.Work_section {
  min-height: 100vh;
  padding-bottom: 3rem;
}

.Work_section_container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #313131;
}

.Work_section_head {
  width: 100%;
}

.Work_section_head .col {
  width: 80%;
}

.Work_section_head .Services_line {
  width: 100%;
}

.Work_section_head .Services_line .green {
  font-weight: bold;
}

.Work_section_head .col h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 46px;
}

.Work_project_boxes {
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 3.5rem;
}

.Work_project_boxes .Work_project_box img {
  width: 100%;
}

.Work_project_box {
  position: relative;
  cursor: pointer;
}

.project_wrapper h3 {
  font-size: 28px;
  text-transform: capitalize;
}

.project-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%); /* Initial grayscale effect */
  transition: filter 0.3s ease-in-out;
}

.project-image:hover {
  filter: grayscale(0%) !important; /* Remove grayscale filter on hover */
}

.Testimonials {
  min-height: max-content;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #0a0a0f;
}

.Testimonial_details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Testimonial_details .Services_line {
  width: max-content;
}

.Testimonial_details h2 {
  font-size: 46px;
}

.Testimonial_container.dflex_btw {
  flex-direction: column;
}

/* Swiper */
.slider {
  height: 25vh;
  width: 50%;
  margin-bottom: 5rem;
}

.slider_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider_box p {
  width: 65%;
  color: #808080;
}

.testimonee {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 200px;
}

.testimonee > div {
  width: 100% !important;
}

.testimonee > div span:last-child {
  display: block;
  font-size: 12px;
}

.testimonee img {
  width: 50px;
  height: 50px;
}

.Searchbar {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 1rem;
}

.Searchbar input {
  padding: 1rem 1.2rem;
  width: 30%;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #079211;
  outline: none;
}

.Searchbar input:active,
.Searchbar input:focus {
  outline: 1px solid #079211;
  background-color: #eeeeee13;
}

.Searchbar button {
  border: 1px solid #079211;
  padding: 1rem 1.2rem;
  background-color: transparent;
  color: white;
  width: 150px;
  transition: 0.2s all ease-in-out;
}

.Searchbar button:hover {
  background-color: #079211;
}

.Blog_news_card {
  padding: 35px;
}

.Blog_news_card span {
  color: red;
  font-weight: bold;
}

.CTA {
  padding: 5rem 6rem;
  display: flex;
  justify-content: space-between;
}

.CTA p {
  font-size: 13px;
  color: #808080;
}

.Footer {
  background-color: #050507f2;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer .logo {
  font-size: 28px;
  font-weight: bold;
}

.Footer hr {
  background-color: #313131;
  color: #313131;
  height: 0.5px;
  margin-bottom: 30px;
}

.Pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  nav {
    padding: 30px 25px;
  }

  .navlist li {
    display: none;
  }

  .Hero_section {
    margin-top: 3rem;
    padding: 0 25px;
  }

  .Hero_section h1 {
    font-size: 44px;
    line-height: 1;
  }

  .Hero_section h2 {
    font-size: 30px;
    line-height: 1;
  }

  .Hero_section p {
    width: 100%;
  }

  .col_btns {
    flex-direction: column;
  }

  .col_btns > button {
    width: 100%;
  }

  .Services_section {
    margin-top: 3rem;
    height: 100%;
  }

  .Services_details {
    flex-direction: column;
  }

  .Services_heading {
    font-size: 35px;
    width: 100%;
  }

  .container_pd {
    padding: 0 25px;
  }

  .Services_boxes {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  .Work_section_head {
    flex-direction: column;
  }

  .Work_project_boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  .btn_no_bg {
    width: 100%;
  }

  .Work_section_head .col h2 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 30px;
  }

  .Work_section_container {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .Blog_page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center center;
    gap: 1rem;
  }

  .slider {
    height: 40vh;
    width: 100%;
    margin-bottom: 5rem;
  }

  .testimonee {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 70vw;
  }

  .CTA {
    padding: 5rem 25px;
    flex-direction: column;
  }

  .CTA .btn_bg {
    margin-top: 18px;
    width: 100%;
  }

  .Footer {
    flex-direction: column;
    padding: 3rem 25px;
  }

  .Footer hr {
    display: none;
  }

  .Searchbar {
    flex-direction: column;
  }

  .Searchbar input,
  .Searchbar button {
    width: 90%;
  }

  .Pagination {
    justify-content: center;
  }

  .Pagination button {
    font-size: 10px;
  }
}

@media (width: 1024px) {
  .navlist > li {
    display: none;
  }
}
